<h1><%= current_user.username %>'s Links</h1>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Original URL</th>
      <th scope="col">Slug</th>
      <th scope="col">Teeny Link</th>
      <th scope="col">Click Count</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.links.each do |link| %>
      <tr>
        <td><%= link.url %></td>
        <td><%= link.slug %></td>
        <td><%= link_to short_url(link.slug), short_path(link.slug), id: "teeny_link" %></td>
        <td class: "click_count"><%= link.click_count %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
