<p id="notice"><%= notice %></p>

<h2>Your Newly Created Teeny Link</h2>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Original URL</th>
      <th scope="col">Slug</th>
      <th scope="col">Teeny Link</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @link.url %></td>
      <td><%= @link.slug %></td>
      <td><%= link_to short_path(@link.slug), short_path(@link.slug) %></td>
      <td><%= link_to 'Edit', edit_link_path(@link) %></td>
      <td><%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
